@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-bg text-neutral-text-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-neutral-text-dark;
}

h1 {
  font-size: 4rem;
  line-height: 0.8;
}

h2 {
  font-size: 2rem;
}

.big-shadow {
  box-shadow: 0px 0px 144px 0px #00004799;
}

.btn {
  @apply font-semibold rounded-md inline-block transition-all duration-200;
}

.btn:hover,
.faq-btn:hover {
  box-shadow: 4px 4px 0px 4px #000000;
  transform: translate(-2px, -2px);
}

.btn:active,
.faq-btn:active {
  box-shadow: 2px 2px 0px 2px #000000;
  transform: translate(0);
}

.btn.btn-pri-dark {
  @apply bg-primary text-white;
}

.btn.btn-pri-light {
  @apply bg-white text-primary;
}

.btn.btn-sec {
  @apply border-2 border-white;
}
